.problem {
    margin: 1.9rem 5% 0 5%;
    display: flex;
    flex-direction: column;
}

.problem label {
    font-weight: bold;
}

.problem__select {
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(var(--secondary-color), var(--secondary-color) 40%, var(--secondary-color));
    -webkit-appearance: button;
    border: none;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
    border-radius: 0.25em;
    background-position: 97% center;
    background-repeat: no-repeat;
    margin: 0.5em;
    overflow: hidden;
    padding: 0.5em 0.75em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
}

.problem__limitations {
    margin-top: 0.5em;
}
.problem__limitations div {
    margin-left: 1em;
}