.appbar {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;

  background-color: var(--primary-color);
  color: var(--light-font-color);
  height: var(--appbar-height);
  width: 100%;
  display: flex;
  flex-direction: row;
}