.appbar__button-panel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: auto;
}

.appbar__button {
    height: var(--appbar-height);
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: var(--light-font-color);
}

.appbar__button:hover {
    color: var(--secondary-color);
}